# Ignore artifacts
build
coverage
.next
out
dist

# Ignore all minified files
*.min.js
*.min.css

# Ignore node_modules
node_modules

# Ignore package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml